#====================================================================
# CONFIGURAÇAO NO SLICER
#====================================================================

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT BED_TEMP=[first_layer_bed_temperature] EXTRUDER_TEMP=[first_layer_temperature]
# and END_PRINT.

#macros com base:
#https://github.com/LeeOtts/Ender3v2-Klipper-Configs/tree/main



[virtual_sdcard]
path: ~/printer_data/gcodes

#====================================================================
# INCLUDE KAMP - Klipper Adaptive Meshing Purging
#====================================================================

# If you were using older files and getting errors you may need to 
# change file name from Adaptive_Mesh.cfg to Adaptive_Meshing.cfg

[include Adaptive_Meshing.cfg]
[include Line_Purge.cfg]

#  *** IMPORTANT ***
# You will also need to ensure the following is defined in moonraker.conf
#
# [file_manager]
#enable_object_processing: True

#====================================================================
# EXCLUDE OBJECTS
#====================================================================

# The [exclude_object] module allows Klipper to exclude objects
# while a print is in progress. 

[exclude_object]

#====================================================================
# Respond Messages
#====================================================================

[respond]
#default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
default_prefix: 
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".


#====================================================================
# MCU
#====================================================================

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0 #porta USB do rpi 
restart_method: command

#====================================================================
# Raspberry Pi Temperature Display for Mainsail
#====================================================================

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 80

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 80

#====================================================================
# PRINTER
#====================================================================

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
#max_accel_to_decel: 3000
#minimum_cruise_ratio: 0.2
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5

#====================================================================
# STEPPER X
#====================================================================

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 39.93
endstop_pin: ^PA5
position_endstop: 0
position_max: 231.8
position_min: -1
homing_speed: 50

#====================================================================
# STEPPER Y
#====================================================================

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 39.79
endstop_pin: ^PA6
position_endstop: 0
position_max: 231.8
position_min: -1
homing_speed: 50

#====================================================================
# STEPPER Z
#====================================================================

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 190
position_min: -3
homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2.0

#====================================================================
# EXTRUDER
#====================================================================

[extruder]
max_extrude_only_distance: 200.0 # for rotation_distance calibration. Default is 50
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
gear_ratio: 3.5:1
rotation_distance: 26.359
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
#pid_Kp: 23.561
#pid_Ki: 1.208
#pid_Kd: 114.859
min_temp: 0
max_temp: 300 # Set to 300 for Sprite Pro Extruder
min_extrude_temp: 170
max_extrude_cross_section: 5 # For KAMP purge

#====================================================================
# PRESSURE ADVANCE
#====================================================================

# It is recommended to calibrate your own pressure advance.
# See https://www.klipper3d.org/Pressure_Advance.html

#pressure_advance: .0465 # Overture PLA White
#pressure_advance: .0369 # Polymaker PLA Pro Teal
pressure_advance: 0.065   #gs3d PLA
pressure_advance_smooth_time: 0.04  #verificar se sera necessario retirar

#====================================================================
# BL TOUCH
#====================================================================

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -31.8
y_offset: -40.5
#z_offset: 4  # z_offset is saved in SAVE_CONFIG section below
speed:35
samples:2
samples_result: median
samples_tolerance: 0.0075
samples_tolerance_retries: 5
probe_with_touch_mode: true
stow_on_each_sample: false

#====================================================================
# SAFE Z HOME
#====================================================================

[safe_z_home]
home_xy_position: 147, 154
speed: 75
z_hop: 10
z_hop_speed: 5
move_to_previous: true

#====================================================================
# PAUSE RESUME
#====================================================================

[pause_resume]
recover_velocity: 25

#====================================================================
# BED
#====================================================================

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

#====================================================================
# FANS
#====================================================================

[fan]
pin: PA0

#====================================================================
# SCREW ADJUSTMENT
#====================================================================

[bed_screws]
screw1: 25, 205 # Using rear left to take measurements as harder to reach
screw1_name: rear left screw
screw2: 195, 205
screw2_name: rear right screw
screw3: 195, 35
screw3_name: front right screw
screw4: 25, 35
screw4_name: front left screw

[screws_tilt_adjust]
screw1: 57, 229
screw1_name: rear left screw
screw2: 227, 229
screw2_name: rear right screw
screw3: 227, 70
screw3_name: front right screw
screw4: 57, 70
screw4_name: front left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4 # Use CW for Clowise and CCW for Counter Clockwise 

#====================================================================
# BED MESH PARAMETERS
#====================================================================

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 15,15
mesh_max: 188,191
probe_count: 6,6
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[display_status]

#====================================================================
# MACROS
#====================================================================
[include macrox.cfg]
#[include filament.cfg]
#[include filament2.cfg]
[include filament3.cfg]
#[include macros.cfg]
#[include timelapse.cfg]
[include shell_command.cfg]

#====================================================================
# MAINSAIL variaveis a alterar
#====================================================================
[include mainsail.cfg]

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos  : True  ; use custom park coordinates for x,y [True/False] 
variable_custom_park_x   : 10.0 ; custom x position; value must be within your defined min and max of X
variable_custom_park_y   : 10.0  ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 10.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 0.6   ; the value to retract while PAUSE
variable_cancel_retract   : 1   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.5   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 1800     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: "END_PRINT"    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#====================================================================
# INPUT SHAPER
#====================================================================

# Klipper supports Input Shaping - a technique that can be used to
# reduce ringing (also known as echoing, ghosting or rippling) in
# prints. Ringing is a surface printing defect when, typically,
# elements like edges repeat themselves on a printed surface as a
# subtle 'echo':

# Every printer is different and the ringing frequency depends on
# the printer's mechanical properties. The ringing frequency can be
# measured by printing a simple test object and measuring the
# distance between the echoes. The ringing frequency is typically
# between 50 and 100 Hz.

# https://www.klipper3d.org/Resonance_Compensation.html

# Uncomment the following lines to enable input shaping. The
# shaper_freq_x and shaper_freq_y parameters should be set to the
# ringing frequency of the printer. 

# MANUAL SETUP
# [input_shaper]
# shaper_freq_x: 54.85
# shaper_type_x: ei
# shaper_freq_y: 57.52
# shaper_type_y: mzv

# # ADXL345 SETUP
# [input_shaper]
# shaper_freq_x: 68.8
# shaper_type_x: mzv
# shaper_freq_y: 44.4
# shaper_type_y: mzv

# Set up your accelerometer using the following link https://www.klipper3d.org/Measuring_Resonances.html

# # [mcu rpi]
# # serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:None

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     117, 117, 20  # home probe point

#====================================================================
# SAVE_CONFIG  *** IMPORTANT ***
#====================================================================

# To avoid any potential errors, it's best to include the
# SAVE_CONFIG information provided below. 
# Additionally, it's highly recommended that you tune your own PID
#  values and set the z-offset before starting any printing tasks.
# This will help ensure that your machine performs optimally and 
# that you achieve the best possible results.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.129
#*# pid_ki = 1.036
#*# pid_kd = 107.759
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.080
#*# pid_ki = 0.864
#*# pid_kd = 1421.756
#*#
#*# [bltouch]
#*# z_offset = 2.460
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.077500, 0.045000, 0.006250, 0.012500, 0.040000, 0.097500
#*# 	0.083750, 0.065000, 0.027500, 0.033750, 0.051250, 0.067500
#*# 	0.090000, 0.057500, 0.000000, 0.001250, 0.006250, 0.020000
#*# 	0.100000, 0.085000, 0.027500, 0.026250, 0.052500, 0.051250
#*# 	0.163750, 0.116250, 0.058750, 0.056250, 0.061250, 0.062500
#*# x_count = 6
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 41.36
#*# max_x = 180.06
#*# min_y = 44.48
#*# max_y = 175.92000000000002
